<div class="subsystem-card reveal">
  <div class="subsystem-card__icon subsystem-card__icon--<%= subsystem.iconVariant || 'blue' %>" aria-hidden="true">
    <%- subsystem.iconSvg %>
  </div>
  <h3 class="subsystem-card__title"><%= subsystem.title %></h3>
  <p class="subsystem-card__desc"><%= subsystem.description %></p>
  <span class="subsystem-card__tag subsystem-card__tag--<%= subsystem.tagVariant || 'blue' %>"><%= subsystem.tag %></span>
</div>
